* {
    font-family: "Aleo", serif;
    padding: 0;
    margin: 0;
}
/* The entire scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 12px;
    display: none;
    /* Height of the scrollbar */
}

/* The part of the scrollbar track (usually the background) */
::-webkit-scrollbar-track {
    background: white;
    border-radius: 10px;
    display: none;
}

/* The part of the scrollbar that moves (the thumb) */
::-webkit-scrollbar-thumb {
    background: #FFD700;
    display: none;
}

::-webkit-scrollbar-thumb:hover {
    background: #FFD700;
    display: none;
} 

::-webkit-scrollbar {
    display: none;
    display: none;
} 


